.places__text {
    grid-area: places__text;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}
@media screen and (max-width: 768px) {
    .places__text {
        font-size: 16px;
    }
  }
  @media screen and (max-width: 556px) {
    .places__text {
        max-width: 288px;
        padding-top: 32px;
    }
  }